# Backend Environment Variables Template

PORT=5000
SESSION_SECRET=placeholder_session_secret_here

# Railway Database Variables
MYSQLHOST=placeholder_mysql_host_here
MYSQLPORT=placeholder_mysql_port_here
MYSQLUSER=placeholder_mysql_host_here
MYSQLPASSWORD=placeholder_mysql_host_here
MYSQLDATABASE=placeholder_mysql_host_here

# Add these standard variables
DB_HOST=placeholder_db_host_here
DB_PORT=placeholder_db_port_here
DB_USER=placeholder_db_user_here
DB_PASSWORD=placeholder_db_password_here
DB_NAME=placeholder_db_name_here

# Cloudinary
CLOUDINARY_CLOUD_NAME=placeholder_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=placeholder_cloudinary_api_key_here
CLOUDINARY_API_SECRET=placeholder_cloudinary_api_secret_here

# Resend
RESEND_API_KEY=placeholder_resend_api_key_here

#Brevo
BREVO_API_KEY=placeholder_brevo_api_key_here

# DONT DELETE THIS FILE!!